/* here you can put your own css to customize and override the theme */

.form-control {  
  font-size: 13px;
  
  height: 25px;
  padding: 2px 6px;
  line-height: 1.428571429;
   
}

.form-control:focus {
  background-color: #CEF7FF;
  -- border-color: #E39B01;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);		  
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 24px;
}

/* SELECT de pesquisa - Usado em Cidades/Cliente*/
.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9991;
    top: 100%;

    background: #CEF7FF;
    color: #000;
    border: 1px solid #e5e5e5;
    border-top: 0;
}

.select2-search input {
    width: 100%;
    margin: 0;
    outline: 0;
    border: 1px solid #e5e5e5;
    webkit-appearance: none !important;   
    color: #333333;         
    outline: 0;    
    height: auto !important;
    min-height: 26px;
    padding: 6px 6px !important;
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    vertical-align: top;  
    background-color: #CEF7FF;
    filter: none !important;
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #999999 !important;
    outline: none;
	background-color: #CEF7FF;
}

.select2-container .select2-choice {    
    height: 26px;
	line-height: 24px;
}
/****************************/


select.input-sm {
  height: 25px;
  padding: 2px 6px;
  line-height: 1.428571429;
}

select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 25px;
  padding: 2px 6px;
  line-height: 1.428571429;
}


.control-label {
  font-size: 13px;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}


.form-group {  
  height: 15px;  
}

.radio,
.checkbox {
  display: block;
  min-height: 10px;
  padding-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 8px;
  margin-bottom: 0;
  font-weight: normal;
  vertical-align: middle;
  cursor: pointer;
}


@media screen and (min-width: 768px) {
  .modal-dialog {
    right: auto;
    left: 50%;
    width: 90%; 
	height: 90%;
   padding-top: 30px;
    padding-bottom: 30px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	height: 90%;
  5
}

.modal {
	height: 90%;
 }

 
.modal-open {
   overflow-y: auto;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
    background-color: #fff;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > thead > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > thead > tr:last-child > td,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
  
  
  
.multiselect {
    width:13em;
    height:13em;
    border:solid 1px #c0c0c0;
    overflow:auto;
}
 
.multiselect label {
    display:block;
}
 
.multiselect-on {
    color:#ffffff;
    background-color:#000099;
}


