<option value=""></option>
<?php foreach($optionsSubcategoria as $Subcategoria): 
    echo '<option value="'.$Subcategoria["Subcategoria"]["idSubCategoria"].'">'.$Subcategoria["Subcategoria"]["descricao"].'</option>';
 endforeach;?>