<option value=""></option>
<?php foreach($optionsCategoria as $Categoria): 
    echo '<option value="'.$Categoria["Categoria"]["idCategoria"].'">'.$Categoria["Categoria"]["descricao"].'</option>';
 endforeach;?>